.Main__Wrapper {
  position: relative;
  width: max-content;
  overflow: hidden;
}

.Main__List {
  width: 100vw;
  margin: 0;
  padding: 0;
  list-style-type: none;
  box-sizing: border-box;
  display: flex;
  align-items: center;

  &--Item {
    transition: transform 1s ease-in-out;
  }

  &--Image {
    width: 100vw;
    height: 70vh;
  }
}

.Button {
  height: 70px;
  width: 70px;
  background-color: transparent;
  border: 1px solid antiquewhite;
  border-radius: 50%;
  position: absolute;

  &:hover {
    cursor: pointer;
    background-color: rgba(250, 235, 215, 0.473);
  }

  &--Back {
    top: 50%;
    left: 2%;
  }

  &--Forward {
    top: 50%;
    right: 2%;
  }
}

.left {
  font-size: 70px;
  font-weight: bold;
  display: block;
  transform: translate(-3%, -15%);
}

.right {
  font-size: 70px;
  font-weight: bold;
  display: block;
  transform: translate(3%, -15%);
}
