.main {
  padding: 20px;

  &__wrapper {
    display: grid;
    grid-auto-flow: row;
    grid-template-columns: repeat(auto-fill, minmax(100px, 250px));
    column-gap: 20px;
    row-gap: 20px;
    justify-content: center;
}

  &__image {
    width: 250px;
    height: 250px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
  }
}
