.container {
  position: fixed;
  z-index: 3;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.781);
  animation: show 1s forwards;

  @keyframes show {
    from { opacity: 0; }
    to { opacity: 1; }
  }
}

.main__large {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 96vw;
  position: absolute;
  top: 10%;
  left: 2%;
  animation: show 1s forwards;

  @keyframes show {
    from { opacity: 0; }
    to { opacity: 1; }
  }

  &--content {
    display: flex;

    .image {
      width: 60%;
      height: auto;
      object-position: center;
      object-fit: contain;
    }

    .description {
      width: 40%;
      padding: 1em;
      background-color: antiquewhite;

      &__logo {
        display: flex;
        align-items: center;
        border-bottom: 1px dotted black;

        &--image {
          padding-right: 1em;
        }

        &--name {
          font-size: 1.2em;
          font-weight: 200;
        }
      }

      &__text {
        padding-left: 1em;
      }
    }
  }

  .buttons {
    width: 70%;
    padding: 1em;
    display: flex;
    justify-content: space-evenly;

    .button {
      width: 2em;
      height: 2em;
      color: rgba(119, 105, 65, 0.932);
      background: transparent;
      border: 1px solid transparent;
      border-radius: 20%;
      cursor: pointer;
      font-size: 3em;
      font-weight: bold;
      transition: color 0.5s ease-in-out, border 0.2s ease-in-out;

      &:hover {
        color: rgba(179, 156, 92, 0.87);
        cursor: pointer;
        transition: color 0.5s ease-in-out, border 0.2s ease-in-out;
      }

      &:active {
        color: rgba(214, 166, 35, 0.932);
        border: 1px solid rgba(179, 144, 49, 0.932);
        transition: color 0.5s ease-in-out, border 0.2s ease-in-out;
      }
    }
  }
}

@media screen and (max-width: 700px) {
  .main__large {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100vw;
    position: absolute;
    top: 5%;
    left: 0;
    animation: show 1s forwards;
  
    @keyframes show {
      from { opacity: 0; }
      to { opacity: 1; }
    }
  
    &--content {
      width: 100%;
      display: flex;
      flex-direction: column;
      align-items: center;
  
      .image {
        width: 100%;
        height: auto;
        object-position: center;
        object-fit: contain;
        margin: 0;
      }
  
      .description {
        width: 94%;
        padding: 20px;
        background-color: antiquewhite;
        
        &__logo {
          display: flex;
          align-items: center;
          border-bottom: 1px dotted black;
  
          &--image {
            padding-right: 1em;
          }

          &--name {
            font-size: 0.8em;
            font-weight: 200;
          }
        }
  
        &__text {
          font-size: 0.8em;
          padding-left: 1em;
        }
      }
    }
  }

  .buttons {
    width: 70%;
    padding: 2em;
    display: flex;
    justify-content: space-evenly;

    .button {
      width: 4em;
      color: rgba(119, 105, 65, 0.932);
      background: transparent;
      border: 1px solid transparent;
      border-radius: 20%;
      cursor: pointer;
      font-size: 2em;
      font-weight: bold;
      transition: color 0.5s ease-in-out, border 0.2s ease-in-out;

      &:hover {
        color: rgba(179, 156, 92, 0.87);
        cursor: pointer;
        transition: color 0.5s ease-in-out, border 0.2s ease-in-out;
      }

      &:active {
        color: rgba(214, 166, 35, 0.932);
        border: 1px solid rgba(179, 144, 49, 0.932);
        transition: color 0.5s ease-in-out, border 0.2s ease-in-out;
      }
    }
  }
}
