.main {
  padding: 20px;

  &__wrapper {
    display: grid;
    grid-auto-flow: row;
    grid-template-columns: repeat(auto-fill, 250px);
    column-gap: 20px;
    row-gap: 20px;
    justify-content: center;
}

  &__content {
    height: 250px;
    width: 250px;

    &--image {
      width: 100%;
      height: 100%;
      aspect-ratio: 1 / 1;
      object-fit: cover;
      border-radius: 10%;
      transform: scale(1);
      transition: all 0.5s ease-in-out;

      &:hover {
        transform: scale(1.05);
        cursor: pointer;
      }
    }
  }
}

@media screen and (min-width: 500px) and (max-width: 700px) {
  .main {
    &__wrapper {
      display: grid;
      grid-auto-flow: row;
      grid-template-columns: repeat(auto-fill, 180px);
      column-gap: 20px;
      row-gap: 20px;
      justify-content: center;
  }
  
    &__content {
      height: 180px;
      width: 180px;
    }
  }
}

@media screen and (min-width: 320px)and (max-width: 499px) {
  .main {
    &__wrapper {
      display: grid;
      grid-auto-flow: row;
      grid-template-columns: repeat(auto-fill, 280px);
      column-gap: 15px;
      row-gap: 15px;
      justify-content: center;
  }
  
    &__content {
      height: 280px;
      width: 280px;
    }
  }
}
