@mixin no-touch-select {
	-webkit-touch-callout:none; /* prevent callout to copy image, etc when tap to hold */
	-webkit-text-size-adjust:none; /* prevent webkit from resizing text to fit */
	-webkit-tap-highlight-color:rgba(0,0,0,0); /* prevent tap highlight color*/
	-webkit-tap-highlight-color:transparent; /* prevent tap highlight color*/
	-webkit-user-select:none;  /* prevent copy paste, to allow, change 'none' to 'text' */
}

.Navigation__List {
  padding: 0;
  display: flex;
  width: 100%;
  flex-direction: row;
  justify-content: space-evenly;

  &--Item {
    list-style-type: none;
  }

  &--Link {
    border: none;
    border-radius: 50%;
    background-color: transparent;
    cursor: pointer;

    &:active {
      @include no-touch-select;
      outline: none;
    }
  }

  &--Image {
    width: 70px;
    height: 70px;
    border-radius: 50%;
  }

  &--Name {
    max-width: 100%;
    margin: 0;
  }
}
