@mixin no-touch-select {
	-webkit-touch-callout:none; /* prevent callout to copy image, etc when tap to hold */
	-webkit-text-size-adjust:none; /* prevent webkit from resizing text to fit */
	-webkit-tap-highlight-color:rgba(0,0,0,0); /* prevent tap highlight color*/
	-webkit-tap-highlight-color:transparent; /* prevent tap highlight color*/
	-webkit-user-select:none;  /* prevent copy paste, to allow, change 'none' to 'text' */
}

.navigation {
  display: flex;
  justify-content: center;
  padding-bottom: 30px;
}

.scroll {
  font-size: 14px;
  border: none;
  background: transparent;
  padding-top: 30px;
  cursor: pointer;

  &:hover {
    background: linear-gradient(transparent 40%, rgba(112, 112, 112, 0.247) 60%, transparent 90%);
  }

  &:active {
    background: linear-gradient(transparent 40%, darkorange 60%, transparent 90%);
  }
}

.navigation__list {
  padding: 0 2px;
  margin: 0;
  display: flex;
  align-items: center;
  max-width: 85%;
  box-sizing: content-box;
  flex-direction: row;
  overflow-x: overlay;

  &::-webkit-scrollbar {
    height: 10px;
  }

  &--item {
    list-style-type: none;
    padding: 0 5px;

    &:first-child {
      padding-left: 0;
    }

    &:last-child {
      padding-right: 0;
    }

    &:hover {
      .navigation__list--image {
        outline: 1px dotted darkorange;
      }
    }
  }

  &--link {
    padding: 5px;
  }

  &--button {
    width: 110px;
    border: none;
    border-radius: 50%;
    background-color: transparent;
    cursor: pointer;

    &:active {
      @include no-touch-select;
      outline: none;
    }

    &:focus {
      @include no-touch-select;
      outline: none;
    }
  }

  &--image {
    width: 70px;
    height: 70px;
    border: 7px double transparent;
    border-radius: 50%;
  }

  &--name {
    font-family: 'Montserrat', sans-serif;
    font-size: 12px;
    margin: 0;
    padding-top: 5px;
  }
}

.active {
  .navigation__list--image {
    border: 7px double darkorange;
  }
}
