@mixin no-touch-select {
	-webkit-touch-callout:none; /* prevent callout to copy image, etc when tap to hold */
	-webkit-text-size-adjust:none; /* prevent webkit from resizing text to fit */
	-webkit-tap-highlight-color:rgba(0,0,0,0); /* prevent tap highlight color*/
	-webkit-tap-highlight-color:transparent; /* prevent tap highlight color*/
	-webkit-user-select:none;  /* prevent copy paste, to allow, change 'none' to 'text' */
}

.header {
  display: grid;
  grid-template-columns: 1fr 1fr;
  padding: 15px 0;
  position: sticky;
  // top: 0; - OLD
  // background-color: antiquewhite; - OLD
  top: -17px;
  background: linear-gradient(darkorange, antiquewhite);
  border-radius: 20px;
  z-index: 2;

  .name {
    margin: 0;
    padding: 0;
  }

  .linkToHome {
    height: 90px;
    padding: 10px;
  }

  .sonyaLogo {
    height: 90px;
    border-radius: 50%;
  }

  &__logo {
    display: flex;
    justify-content: start;
    align-items: center;
    font-size: 3.3rem;
    font-weight: 100;
    padding: 0 40px;

    ::before {
      content: "........................";
      font-weight: 100;
      position: absolute;
      top: 65px;
      left: 130px;
      color: rgb(92, 92, 92);
      cursor: default;
    }

    ::after {
      content: "";
      width: calc(100% - 279px);
      position: absolute;
      top: 120px;
      left: 278px;
      border: 1px solid rgb(92, 92, 92);
      background-color: rgb(92, 92, 92);
    }
  }

  &__contacts {
    display: grid;
    grid-auto-flow: column;
    column-gap: 20px;
    position: relative;
    justify-content: end;
    align-items: center;
    margin: 0 40px;
  }
}

a {
  text-decoration: none;

  .phone_number {
    font-family: 'Montserrat', sans-serif;
    position: absolute;
    opacity: 0;
    top: 70%;
    right: 0;
    color: black;
    font-size: 12px;
    font-weight: 400;
    transition: opacity 1s ease-in-out;
  }

  &:hover {
    .phone_number {
      opacity: 1;
    }
  }
}


.phone_icon {
  width: 35px;
  height: 35px;
}

.insta_link {
  cursor: pointer;
}

a:active {
  @include no-touch-select;
  outline: none;
}
