@mixin no-touch-select {
	-webkit-touch-callout:none; /* prevent callout to copy image, etc when tap to hold */
	-webkit-text-size-adjust:none; /* prevent webkit from resizing text to fit */
	-webkit-tap-highlight-color:rgba(0,0,0,0); /* prevent tap highlight color*/
	-webkit-tap-highlight-color:transparent; /* prevent tap highlight color*/
	-webkit-user-select:none;  /* prevent copy paste, to allow, change 'none' to 'text' */
}

body {
  font-family: 'Poppins', sans-serif;
  margin: 0;
  background-color: antiquewhite;
  box-sizing: border-box;
}

.App_Wrapper {
  display: grid;
  height: 100vh;
  width: 100vw;
  grid-template-rows: 1.5fr 8fr 2fr;
  grid-auto-columns: minmax(100vw, auto);
}

.App_Header {
  display: grid;
  width: 100vw;
  grid-auto-rows: minmax(10vh, auto);
  grid-template-columns: 80vw 20vw;
  border-bottom: 2px dashed black;

  &__logo {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 3rem;
    text-decoration: underline;
  }

  &__contacts {
    display: flex;
    flex-direction: row;
    position: relative;
    justify-content: space-evenly;
    align-items: center;
  }
}

.phone_number {
  position: absolute;
  top: 70%;
  right: 18%;
  color: black;
  font-weight: bold;
}

.phone_icon {
  width: 35px;
  height: 35px;
}

.phone_button {
  border: none;
  background-color: antiquewhite;
  cursor: pointer;
}

.insta_link {
  cursor: pointer;
}

a:active {
  @include no-touch-select;
  outline: none;
}

.App_Main {
  max-height: 70vh;
  border-bottom: 2px dashed black;
}

@media screen and(max-width: 900px) {
  .phone_number {
    position: absolute;
    top: 70%;
    right: 18%;
    font-size: 0.8rem;
    font-weight: bold;
  }
}

@media screen and(max-width: 700px) {
  .App_Header__logo {
    font-size: 2rem;
  }

  .App_Header {
    grid-template-columns: 70vw 30vw;
  }

  .phone_number {
    position: absolute;
    top: 75%;
    right: 18%;
    font-size: 0.5rem;
    font-weight: bold;
  }
}

.App_Navigation {
  display: flex;
}
