.background {
  height: 100vh;
  width: 100vw;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  position: fixed;
  z-index: -1;
  mask-image: linear-gradient(to bottom, black 25%, transparent 55%);
}
